/* This styles the container in which each booking is displayed within on overview.html */
#login-container {
    border-radius: 10px;
    border: 2px solid grey;
    background-color: rgb(248, 244, 244);
}

/* Changes the colour of the login page background */
#login-form {
    background-color: rgb(255, 255, 255);
}

/* Idk why but this makes the text work better? */
p {
    margin-bottom: 0px;
}

/* Style for the little strip which holds the bookings */
#bookingObj {
    border-radius: 10px;
    border: 2px solid grey;
    background-color: rgba(160, 160, 160, 0.377);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    line-height: 30px
}

#bookingsRow {
    text-align: center;
}

/* Style for the button in the bookingObj container */
#cancelBtn {
    height: 30px;
    line-height: 15px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: transparent;
    color: red;
    -webkit-transition: background-color 0.5s, border 1s;
    -moz-transition:    background-color 0.5s, border 1s;
    -ms-transition:     background-color 0.5s, border 1s;
    -o-transition:      background-color 0.5s, border 1s;
    transition:         background-color 0.5s, border 1s;
}

/* Change the colour and border when mouseover event is triggered */
#cancelBtn:hover {
    background-color: rgb(255, 215, 221);
    border: 1px solid rgb(117, 0, 0);
}

/* Universal fieldstyle for <input> Makes the height of the textbox == height of normal <p> line */
input {
    height: 18px;
    border-radius: 2px;
    border: 1px solid grey;
}

/* Each available booking is represented as this */
.bookingButton {
    width: 100%;
    border-radius: 2px;
    border: 0.5px solid grey;
    background-color: rgb(236, 236, 236);
    -webkit-transition: background-color 1s, border 1s;
    -moz-transition:    background-color 1s, border 1s;
    -ms-transition:     background-color 1s, border 1s;
    -o-transition:      background-color 1s, border 1s;
    transition:         background-color 1s, border 1s;
}

/* When its hovered over, magic occurs. Wow! */
.bookingButton:hover {
    background-color: rgb(166, 241, 147);
}

/* Wow i dont know what this is and i probably shouldve used a seperate class for this... */
.col-sm {
    font-weight: 400;
    font-size: 13pt
}

#loadingElement {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 210px;
    height: 250px;
}

#loginScreen {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 210px;
    height: 250px;
}

#search {
    border-radius: 7px;
    border: 1px solid grey;
    padding: 5px
}

#bottom {
    position: absolute;
  bottom: 10px;
}